<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form action="" method="post">
        <h1 style="margin: 40px auto;">Add user to chat page</h1>
        <div>
            <div>Input username</div>
            <input type="text" name="userName" required="">
            <div>Input name of chat</div>
            <input type="text" name="chatName" required="">
            <button>Add user</button>
        </div>
    </form>
</body>
</html>